*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFEEA6;
}


nav {
    width: 96%;
    height:220px;
    display: flex;
    /* justify-content: space-between; */
}
h1{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-style:italic;
    font-weight: bold;
    color: #5E8BB0;
    margin-top:50px;
    padding-left: 140px;
}




.tour{
    display: flex;
    width: 96%;
    
}



.button-others{
    flex-direction: column;
    width: 25%;
    height: 200px;
    align-items: center;
    
}

.button-others>button{
/* justify-content: space-evenly; */
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: #AF9F30;
    background-color:#5E8BB0;
    width: 140px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.images-others{
    
    width: 75%;
    height:800px;
}

#first{
    background: #FFEEA6;
    width: 100%;
    margin-left: 30px; 
    /* position: relative; */
    
}
#first-div{
    flex-direction: column;
    
}


.image-tokyo>img{
    
    width: 640px;
    height:380px;
}

#first>p{
    width: 80%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #5E8BB0;
    text-align: center;
    font-weight: 700;
}




#second{
    background: #FFEEA6;
    width: 100%;
    margin-left: 30px; 
    /* position: relative; */
    
}
#second-div{
   flex-direction: column;
}


.image-usa>img{
    width: 640px;
    height:380px;
}

#second>p{
    width: 80%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #AF9F30;
    text-align: center;
    font-weight: 700;
}



#third{
    background: #FFEEA6;
    width: 100%;
    margin-left: 30px; 
    
}
#third-div{
    flex-direction: column;
}


.image-thai>img{
    
    width: 640px;
    height:380px;
}

#third>p{
    width: 80%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: navy;
    text-align: center;
    font-weight: 700;
}











footer{
    width: 96%;
    height: 100px;
}

footer>p{
    font-size: 20px;
    color: #5E8BB0;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 20px;
}


@media(max-width:425px) {

    nav {
        width: 96%;
        height:120px;
        display: flex;
        /* justify-content: space-between; */
    }

  
    nav img{
        width: 70%;
        /* border: 2px solid blue; */
        
    }

    h1 {
       
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        font-weight: bold;
        color: #5E8BB0;
        margin-top: 10px;
        padding-left: 30px;
        /* border: 2px solid red; */
    } 

    .tour{
        /* display: flex; */
        flex-direction: column;
        margin: auto;
        width: 96%;
        height:1000px;
        /* border: 2px solid red; */
    }

    .image-tokyo>img{
    
        width: 320px;
        height:320px;
    }
    
    #first>p{
        width: 80%;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: #5E8BB0;
        text-align: center;
        font-weight: 700;
    }

    .image-usa>img{
        width: 320px;
        height:320px;
    }
    
    #second>p{
        width: 80%;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: #AF9F30;
        text-align: center;
        font-weight: 700;
    }


    .image-thai>img{
    
        width: 320px;
        height:320px;
    }
    
    #third>p{
        width: 80%;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        color: navy;
        text-align: center;
        font-weight: 700;
    }
}

@media((min-width:426px) and (max-width:768px)) 
{  
    
    

   nav {
        width: 96%;
        height: 200px;x;
        display: flex;
    
        /* justify-content: space-between; */
    }

    nav img{
        width: 70%;
    
    
    
        /* border: 2px solid blue; */
    
    }

    h1 {
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
    
    
        font-style: italic;
        font-weight: bold;
        color: #5E8BB0;
        margin-top: 10px;
        padding-left: 10px;
    } 

    .image-tokyo>img{
    
        width: 400px;
        height:400px;
    }

    .image-usa>img{
    
        width: 400px;
        height:400px;
    }

    .image-thai>img{
    
        width: 400px;
        height:400px;
    }

}


